/* Variables */

$color-1: linear-gradient(180deg,rgba(218, 73, 73, 1) 9%, rgb(191, 39, 39) 93%);
$color-2: linear-gradient(180deg,rgba(169, 29, 29, 1) 9%, rgb(145, 31, 31) 93%);
$color-3: #4F1C4C;
$color-4: #fde9c9;
$color-5: #d5c6ae;

$accent-color: $color-3;
$search-color: $color-5;
$layout-color: $color-1;
$container-color: $color-2;
$widget-color: $color-1;
$forecast-list-color: $color-4;
$bg-color: $color-4;
$font-color: $color-4;

$border-radius: 20px;
$spacing: 20px;
$adaptive-size: calc(1vw + 1vh);

/* Universal Element Styling */

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;

  font-family: sans-serif;
  font-size: calc(#{$adaptive-size} * 0.6);
  color: $font-color;
}

/* Mixins */

@mixin container {
  background: $container-color;
  border-radius: $border-radius;

  margin: $spacing
}

@mixin widget {
  background: $widget-color;
  border-radius: $border-radius;

  margin: $spacing;
  padding: $spacing;

}