@use "../layout.scss";

.line-chart {
    @include layout.container(); 

    border-color: rgba(0, 0, 0, 0);

    flex-grow: 1;
}

.polar-chart {
    @include layout.container(); 

    border-color: rgba(0, 0, 0, 0);

    aspect-ratio: 1/1;
}