@use "./layout";

html {
    font-size: 16px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
}

@mixin h($modifier) {
    font-size: calc(layout.$text-large / $modifier);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    @include h(1)
}

h2 {
    @include h(2)
}

h3 {
    @include h(3)
}

p {
    font-size: layout.$text-small;
    align-content: center;
}