.App {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 10px;
}

.large-container {
    margin: 10px;
    padding: 5px;
}

.menu { 
    flex-basis: 15%;
    min-width: 15%;
}

.body {
    flex-grow: 1;
}